#banner {
    background-image: url('../images/banner-1.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
    color:white;
}

.main-title {
    margin-left:30px;
    margin-left: 30px;
    font-weight: 800;
    text-shadow: 0px 0px 7px rgb(48 48 48);
    font-size: 3rem;
}

.cta-container {
    margin-top:20px;
    @include min-lg {
        margin-top:-80px;
    }
}

.card-banner {
    .featured {
        font-weight: bold;
        font-size:1.1em;
        color:$dark;
    }
}